/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #050404;
    text-align: left;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
}


form {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 20px red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 4px;
}

button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 80%;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background: #218838;
}

h2 {
    color: white;
    text-align: center;
}
